/* 
Practice using pseudo-elements for styling extras and the CSS 
position property for the sections with curved edges.

1. You'll need to use your best judgment for styles such as 
`font-size`, `padding` and `margin`. 

2. Look through the designs to start planning out how you'll 
tackle the project. This step is crucial to help you think 
ahead for CSS classes to create reusable styles.

3. Write out the base styles for your project, including general 
content styles, such as `font-family` and `font-size`.

4. Start adding styles to the top of the page and work down. 
Only move on to the next section once you're happy you've 
completed the area you're working on.

5. Hosting
https://pages.github.com/

- Mobile: 375px
- Desktop: 1440px

*/

/* general utilities */

:root {
    /* Primary */
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);

    /* Neutral */
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --white-color: #f3f3f3;

    /* Typography */
    --font-headings: "Poppins";
    --font-body: "Open Sans";
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    font-family: var(--font-body);
    padding-top: 2em;

    height: auto;
}

img {
    max-width: 100%;

    display: block;
}

/* typography */
h1 {
    font-size: calc(1.3rem + 2vw);
    font-family: var(--font-headings);
}

h2 {
    font-size: calc(1.2rem + 2vw);
}

h3 {
    font-size: calc(1rem + 2vw);
    margin: 1.5em 0;
}

p {
    font-size: calc(0.68rem + 1vw);
}

button {
    font-size: calc(0.8rem + 1vw);

    padding: 0.4em 1.2em;

    background: none;
    border-radius: 2rem;
    outline: none;
    border: none;
    font-weight: 700;

    cursor: pointer;
}

.nav-btn {
    border: 1px solid var(--pink);
    color: var(--pink);
}

.title-btn,
.cta {
    background-color: var(--pink);

    padding: 0.8em 2em;

    color: var(--white-color);

    box-shadow: 0 1px 5px 0 #727272;

    margin-bottom: 3em;
}

/* layout */
.bg-frame {
    /* margin: 10em 0; */

    /* padding: 5em 0; */
}

.container {
    width: 90%;
    /* max-width: 1440px; */
    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;

    /* border: 2px solid green; */
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */
#header,
section {
    text-align: center;
}

#header,
.mb {
    /* border: 2px solid red; */

    /* margin-top: 15em; */
    margin-bottom: 20em;
}

section,
section:not(footer) {
}

.grow {
    /* margin: 20em auto; */
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10em;
}

.nav-logo {
    height: 1.2em;
}

.title-description {
    margin-top: 2em;
    font-size: calc(0.7rem + 1vw);
    margin-bottom: 4em;

    font-weight: 500;
}

.hero-img {
    margin: 6em 0;
}

/* align */
.small-container {
    /* margin-top: 6em; */
}

.align div {
    margin-bottom: 3em;
}

.align img {
    width: 1.8em;
}

.align h2 {
    font-size: 4rem;
}

.align p {
    text-align: center;

    color: grey;
}

.align span {
    display: block;
}

/* section */
.section-img {
    margin-bottom: 8em;
}

.heading {
    margin-bottom: 0.5em;
}

.bg-frame {
    background-color: var(--very-pale-blue);

    position: relative;
    z-index: 0;
}

.bg-frame.one::before {
    content: "";

    background-image: url(./images/bg-section-top-mobile-1.svg);
    background-repeat: no-repeat;

    position: absolute;
    left: 0;
    top: -20%;
    z-index: 5;

    width: 100%;
    height: 50%;
}

.bg-frame.one::after {
    content: "";

    background-image: url(./images/bg-section-bottom-mobile-1.svg);
    background-repeat: no-repeat;

    position: absolute;
    left: 0;
    bottom: -50%;
    z-index: 1;

    width: 100%;
    height: 50%;
}

.bg-frame.two::before {
    content: "";

    background-image: url(./images/bg-section-top-mobile-2.svg);
    background-repeat: no-repeat;

    position: absolute;
    left: 0;
    top: -14.5%;
    z-index: 5;

    width: 100%;
    height: 50%;
}

.bg-frame.two::after {
    content: "";

    background-image: url(./images/bg-section-bottom-mobile-2.svg);
    background-repeat: no-repeat;

    position: absolute;
    left: 0;
    bottom: -50%;
    z-index: 1;

    width: 100%;
    height: 50%;
}

/* footer */
footer {
    background-color: var(--very-dark-cyan);

    /* margin-top: 20em; */

    position: relative;

    padding: 4em 0 2em 0;
    color: var(--white-color);
}

footer::before {
    content: "";

    background-image: url(./images/bg-footer-top-mobile.svg);
    background-repeat: no-repeat;

    z-index: 1;

    position: absolute;
    left: 0;
    top: -6.2%;

    width: 100%;
    height: 10%;
}

.mini-container {
    display: flex;
    flex-direction: column;
}

.footer-right-side {
    order: -1;

    margin-bottom: 8em;
}

.telephone,
.email {
    display: flex;
    align-items: center;

    margin: 1em 0;
}

.telephone img,
.email img {
    margin-right: 0.75em;
}

ul {
    list-style: none;

    display: flex;

    align-items: baseline;

    margin-bottom: 2em;
}

ul li {
    margin-right: 1em;
    font-size: 1.5em;
}

.footer-title {
    margin: 0;
    text-transform: uppercase;
}

.footer-text {
    font-size: calc(0.7rem + 1vw);

    margin: 1.5em 0;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    display: block;
    width: 100%;

    padding: 1em 0.5em;

    border-radius: 0.2em;

    outline: none;
    border: none;

    margin-bottom: 1em;
}

button[type="submit"] {
    display: block;
    align-self: flex-end;

    padding: 0.8em 2em;

    background-color: var(--pink);
    border-radius: 0.3em;
    color: var(--white-color);
}

@media (min-width: 376px) {
    section:not(.bg-frame) {
        /* margin: 20em auto; */
    }

    .bg-frame.one::before {
        content: "";

        background-image: url(./images/bg-section-top-desktop-1.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        top: -14;
        z-index: 5;

        width: 100%;
        height: 50%;

        border: 2px solid blue;
    }

    .bg-frame.one::after {
        content: "";

        background-image: url(./images/bg-section-bottom-desktop-1.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        bottom: -50%;
        z-index: 1;

        width: 100%;
        height: 50%;
    }

    .bg-frame.two::before {
        content: "";

        background-image: url(./images/bg-section-top-desktop-2.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        top: -18%;
        z-index: 5;

        width: 100%;
        height: 50%;

        border: 2px solid purple;
    }

    .bg-frame.two::after {
        content: "";

        background-image: url(./images/bg-section-bottom-desktop-2.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        bottom: -50%;
        z-index: 1;

        width: 100%;
        height: 50%;
    }

    footer::before {
        content: "";

        background-image: url(./images/bg-footer-top-desktop.svg);
        background-repeat: no-repeat;

        z-index: 1;

        position: absolute;
        left: 0;
        top: -16%;

        width: 100%;
        height: 50%;
    }
}

/* @media (min-width: 376px) {
    .bg-frame.two::before {
        content: "";

        background-image: url(./images/bg-section-top-desktop-2.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        top: -50%;
        z-index: 5;

        width: 100%;
        height: 100%;

        border: 2px solid purple;
    }
} */

@media (min-width: 650px) {
    .bg-frame.one::before {
        content: "";

        background-image: url(./images/bg-section-top-desktop-1.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        top: -14%;
        z-index: 5;

        width: 100%;
        height: 50%;
    }

    .bg-frame.one::after {
        content: "";

        background-image: url(./images/bg-section-bottom-desktop-1.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        bottom: -50%;
        z-index: 1;

        width: 100%;
        height: 50%;
    }

    .bg-frame.two::before {
        content: "";

        background-image: url(./images/bg-section-top-desktop-2.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        top: -12%;
        z-index: 5;

        width: 100%;
        height: 50%;
    }

    .bg-frame.two::after {
        content: "";

        background-image: url(./images/bg-section-bottom-desktop-2.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        bottom: -50%;
        z-index: 1;

        width: 100%;
        height: 50%;
    }

    footer::before {
        content: "";

        background-image: url(./images/bg-footer-top-desktop.svg);
        background-repeat: no-repeat;

        z-index: 1;

        position: absolute;
        left: 0;
        top: -16.2%;

        width: 100%;
        height: 50%;
    }
}

@media (min-width: 990px) {
    .bg-frame.one::before {
        content: "";

        background-image: url(./images/bg-section-top-desktop-1.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        top: -12%;
        z-index: 5;

        width: 100%;
        height: 50%;
    }

    .bg-frame.one::after {
        content: "";

        background-image: url(./images/bg-section-bottom-desktop-1.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        bottom: -50%;
        z-index: 1;

        width: 100%;
        height: 50%;
    }

    .bg-frame.two::before {
        content: "";

        background-image: url(./images/bg-section-top-desktop-2.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        top: -12%;
        z-index: 5;

        width: 100%;
        height: 50%;
    }

    .bg-frame.two::after {
        content: "";

        background-image: url(./images/bg-section-bottom-desktop-2.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        bottom: -50%;
        z-index: 1;

        width: 100%;
        height: 50%;
    }

    footer::before {
        content: "";

        background-image: url(./images/bg-footer-top-desktop.svg);
        background-repeat: no-repeat;

        z-index: 1;

        position: absolute;
        left: 0;
        top: -16.2%;

        width: 100%;
        height: 50%;
    }
}

/* 
@media (min-width: 376px) {
    .bg-frame.one::before {
        content: "";

        background-image: url(./images/bg-section-top-desktop-1.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        top: -12%;
        z-index: 5;

        width: 100%;
        height: 50%;
    }

    .bg-frame.one::after {
        content: "";

        background-image: url(./images/bg-section-bottom-desktop-1.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        bottom: -50%;
        z-index: 1;

        width: 100%;
        height: 50%;
    }

    .bg-frame.two::before {
        content: "";

        background-image: url(./images/bg-section-top-desktop-2.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        top: -12%;
        z-index: 5;

        width: 100%;
        height: 50%;
    }

    .bg-frame.two::after {
        content: "";

        background-image: url(./images/bg-section-bottom-desktop-2.svg);
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        bottom: -50%;
        z-index: 1;

        width: 100%;
        height: 50%;
    }

    footer::before {
        content: "";

        background-image: url(./images/bg-footer-top-desktop.svg);
        background-repeat: no-repeat;

        z-index: 1;

        position: absolute;
        left: 0;
        top: -16.2%;

        width: 100%;
        height: 50%;
    }
}

*/
