/* 
Practice using pseudo-elements for styling extras and the CSS 
position property for the sections with curved edges.

1. You'll need to use your best judgment for styles such as 
`font-size`, `padding` and `margin`. 

2. Look through the designs to start planning out how you'll 
tackle the project. This step is crucial to help you think 
ahead for CSS classes to create reusable styles.

3. Write out the base styles for your project, including general 
content styles, such as `font-family` and `font-size`.

4. Start adding styles to the top of the page and work down. 
Only move on to the next section once you're happy you've 
completed the area you're working on.

5. Hosting
https://pages.github.com/

*/

:root {
    /* Primary */
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);

    /* Neutral */
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --white-color: #f3f3f3;

    /* Typography */
    --font-headings: "Poppins";
    --font-body: "Open Sans";
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    width: 100vw;

    overflow-x: hidden;

    /* width: 1440px; */
    /* max-width: 100vw; */
}

body {
    font-family: var(--font-body);

    background-color: #ffffff;

    overflow-x: hidden;
}

.container {
    width: 1440px;
    max-width: 100%;

    margin: 0 auto;
}

#header {
    padding: 2rem 4rem;
}

#nav {
    display: flex;
}

.nav-first-half {
    margin-right: auto;
}

.nav-logo {
    width: 150px;
}

.nav-btn {
    border: 1px solid var(--light-pink);
    border-radius: 25px;

    color: var(--light-pink);
    background-color: transparent;

    font-weight: 600;

    font-size: 1.6rem;

    padding: 7.5px 15px;

    cursor: pointer;
}

/* hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    padding-top: 15rem;
}

.title {
    font-family: var(--font-headings);

    font-size: calc(0.8rem + 3vw);

    text-align: center;
}

.title-description {
    font-size: calc(0.5rem + 0.9vw);

    width: calc(0.5rem + 40vw);

    margin: 2rem 0;

    text-align: center;

    line-height: 1.6;
}

.title-btn,
.cta {
    padding: 15px 60px;

    border-radius: 30px;

    background-color: var(--pink);
    color: var(--white-color);
    font-weight: 600;

    font-size: 1.6rem;

    border: none;

    cursor: pointer;

    box-shadow: 2px 3px 8px var(--light-pink);
}

.title-btn {
    margin: 3.5rem 0;
}

.hero-img {
    width: 60%;
}

/* main */

/* sections */
section {
    width: 100%;

    /* max-width: 1440px; */
    /* margin: 0 auto; */
}

.achievements {
    width: 600px;
    max-width: 100%;

    margin: 10rem auto;
}

.align {
    display: flex;
    justify-content: space-between;
}

.communities,
.messages {
    width: 25px;
}

.align div:nth-child(2) p {
    padding-left: 2rem;
}

.achievements h2.number {
    font-size: 5rem;

    color: #333131;
}

.achievements p {
    font-size: 1.6rem;

    color: #949494;
}

section.grow {
    background-color: var(--very-pale-blue);

    position: relative;

    z-index: 1;
}

section.grow::before {
    content: "";

    width: 100%;
    height: 50%;

    background-image: url(./images/bg-section-top-desktop-1.svg);

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    position: absolute;
    top: -35%;
    left: 0;
    right: 0;

    z-index: -1;
}

section.grow::after {
    content: "";

    width: 100%;
    height: 50%;

    background-image: url(./images/bg-section-bottom-desktop-1.svg);

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    position: absolute;
    left: 0;
    bottom: -32%;
    right: 0;

    z-index: -1;
}

.helper {
    margin: 30rem auto;

    padding: 10rem;
}

.inner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.inner-container {
    justify-items: center;
    align-items: center;
}

.text {
    width: 86%;
}

.text h3 {
    font-size: 2.5rem;

    padding-bottom: 1.6rem;
}

.text .description {
    font-size: 1.6rem;

    line-height: 1.4;

    width: 100%;
    max-width: 68rem;
}

.inner-container img {
    width: 100%;
}

.call-to-action {
    margin-bottom: 30rem;

    font-size: calc(0.5rem + 2vw);

    text-align: center;
}

.cta {
    margin: 2.5rem 0;
}

.center {
    text-align: center;
}

/* footer */
footer {
    width: 100%;

    background-color: var(--very-dark-cyan);

    color: var(--white-color);

    position: relative;

    padding: 10rem;
}

footer::before {
    content: "";

    width: 100%;
    height: 30%;

    background-image: url(./images/bg-footer-top-desktop.svg);

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    position: absolute;
    top: -26%;
    left: 0;

    z-index: -1;
}

.footer-container {
    display: flex;

    flex-direction: column;
}

.footer-container div {
    font-weight: 600;

    line-height: 1.6;
}

.mini-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    justify-items: center;

    padding: 0 4rem;
}

/* .title {
    margin: 0 0 2rem;

    padding-top: 10rem;
} */

.footer-text {
    margin: 2rem 0 4rem 0;

    width: 64%;

    font-weight: 400;

    font-size: 1.5rem;
}

.telephone,
.email {
    margin: 1rem 0;

    display: flex;
    align-items: center;

    font-size: 1.6rem;
}

.telephone img,
.email img {
    margin-right: 1rem;
}

.social-icons {
    display: flex;

    margin: 6rem 0;

    list-style: none;

    font-size: 3rem;
}

.footer-left-side,
.footer-right-side {
    width: 100%;
}

.social-icons li {
    margin: 0 2rem 0 0;

    cursor: pointer;
}

.footer-title {
    font-family: var(--font-headings);

    font-size: calc(0.8rem + 2vw);

    margin-top: -1rem;

    /* text-align: center; */
}

ion-icon:hover {
    color: var(--pink);
}

form {
    display: flex;

    width: 100%;
}

form input {
    width: 65%;

    padding: 1rem 0.75rem;
    margin-right: 2rem;

    font-size: 1.6rem;

    border-radius: 0.4rem;
    border: 2px solid var(--white-color);

    outline: none;
}

button[type="submit"] {
    background-color: var(--pink);

    padding: 0.8rem 3rem;
    color: var(--white-color);

    font-weight: 600;

    border-radius: 0.4rem;
    font-size: 1.4rem;

    border: none;
    outline: none;

    cursor: pointer;
}

.attribution {
    font-size: 1.6rem;

    padding-left: 4rem;
}

.attribution a {
    color: var(--white-color);
}

/* media queries */
/* font-size: calc(0.9rem + 4vw); */

@media screen and (max-width: 1280px) {
    footer::before {
        top: -25%;
    }
}

@media screen and (max-width: 1215px) {
    footer::before {
        top: -24%;
    }
}

@media screen and (max-width: 1100px) {
    footer::before {
        top: -23.5%;
    }
}

@media screen and (max-width: 1030px) {
    footer::before {
        top: -22.5%;
    }
}

@media screen and (max-width: 990px) {
    footer::before {
        top: -22.3%;
    }
}

@media screen and (max-width: 930px) {
    .container {
        /* width: 1440px; */
        /* max-width: 100%; */

        width: 100%;

        margin: 0 auto;
    }

    #header {
        padding: 2.5rem;
    }

    .title {
        font-family: var(--font-headings);

        font-size: calc(0.8rem + 3vw);

        /* text-align: center; */
    }

    .call-to-action {
        width: 100%;

        font-size: calc(0.5rem + 2vw);
    }

    .center {
        width: 100%;

        max-width: 60%;

        margin: 0 auto;
    }

    .title {
        /* width: 65vw; */
        text-align: center;
    }

    .title-description {
        width: 45vw;
    }

    section.grow::before {
        position: absolute;
        top: -28%;
        left: 0;
        right: 0;

        z-index: -1;
    }

    section.grow::after {
        left: 0;
        bottom: -28%;
        right: 0;

        z-index: -1;
    }

    .inner-container {
        display: grid;
        grid-template-columns: 1fr;

        grid-template-rows: repeat(2, 1fr);
        row-gap: 3rem;
    }

    .footer-container {
        /* display: grid; */
        /* justify-items: center; */
        /* justify-content: center; */
        /* justify-self: center; */
    }

    .mini-container {
        display: grid;
        grid-template-columns: 1fr;
        /* row-gap: 4rem; */

        /* justify-items: center; */

        width: 65vw;
        border: 2px solid white;

        /* display: flex; */
        /* flex-direction: column; */

        /* justify-content: center; */

        margin: 0 auto;

        /* padding: 0 4rem; */
    }

    .grow img {
        border: 2px solid red;

        /* grid-column: 1 / 2; */
        grid-row: 1 / 2;
    }

    .grow .text {
        border: 2px solid purple;

        /* grid-column: 2 / 3; */
    }

    footer {
        width: 100%;
    }

    footer::before {
        top: -20%;
    }

    .footer-right-side {
        grid-row: 1/2;

        margin-bottom: 2rem;
    }

    form {
        display: flex;

        flex-direction: column;

        width: 100%;

        max-width: 400px;
    }

    form input {
        width: 100%;

        margin-bottom: 2rem;
        margin-left: 0;
    }

    button[type="submit"] {
        /* background-color: var(--pink); */

        padding: 0.8rem 3rem;
        /* color: var(--white-color); */

        /* font-weight: 600; */

        /* border-radius: 0.4rem; */
        /* font-size: 1.4rem; */

        /* border: none; */
        /* outline: none; */

        /* cursor: pointer; */

        align-self: flex-end;
        align-items: center;

        border: 2px solid blue;
    }

    .footer-text {
        width: 100%;
    }
}

@media screen and (max-width: 860px) {
    footer::before {
        top: -19.5%;
    }
}

@media screen and (max-width: 375px) {
    body {
        /* background-color: red; */
    }

    .title-description {
        width: 50vw;
    }
}
