/* 
Practice using pseudo-elements for styling extras and the CSS 
position property for the sections with curved edges.

1. You'll need to use your best judgment for styles such as 
`font-size`, `padding` and `margin`. 

2. Look through the designs to start planning out how you'll 
tackle the project. This step is crucial to help you think 
ahead for CSS classes to create reusable styles.

3. Write out the base styles for your project, including general 
content styles, such as `font-family` and `font-size`.

4. Start adding styles to the top of the page and work down. 
Only move on to the next section once you're happy you've 
completed the area you're working on.

5. Hosting
https://pages.github.com/

- Mobile: 375px
- Desktop: 1440px

*/

/* general utilities */

:root {
    /* Primary */
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);

    /* Neutral */
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --white-color: #f3f3f3;

    /* Typography */
    --font-headings: "Poppins";
    --font-body: "Open Sans";
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    font-family: var(--font-body);
    padding-top: 2em;
}

img {
    max-width: 100%;

    display: block;
}

/* typography */
h1 {
    font-size: calc(1.3rem + 2vw);
    font-family: var(--font-headings);
}

h2 {
    font-size: calc(1.2rem + 2vw);
}

h3 {
    font-size: calc(1rem + 2vw);
    margin: 1.5em 0;
}

p {
    font-size: calc(0.68rem + 1vw);
}

button {
    font-size: calc(0.8rem + 1vw);

    padding: 0.4em 1.2em;

    background: none;
    border-radius: 2rem;
    outline: none;
    border: none;
    font-weight: 700;

    cursor: pointer;
}

.nav-btn {
    border: 1px solid var(--pink);
    color: var(--pink);
}

.title-btn,
.cta {
    background-color: var(--pink);

    padding: 0.8em 2em;

    color: var(--white-color);

    box-shadow: 0 1px 5px 0 #727272;

    margin-bottom: 3em;
}

/* layout */
.desktop-svg-top,
.desktop-svg-bottom,
.desktop-svg-footer {
    display: none;
}

.container {
    width: 90%;
    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */
#header,
section {
    text-align: center;
}

.mb {
    padding: 10em 0;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10em;
}

.nav-logo {
    height: 1.2em;
}

.hero {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.title-description {
    margin-top: 2em;

    /* font-size: 1rem; */
    font-size: calc(0.75rem + 1vw);
    width: 70%;

    margin-bottom: 4em;

    font-weight: 500;
}

.hero-img {
    margin: 6em 0;
}

/* align */
.align div {
    margin-bottom: 3em;
}

.align img {
    width: 1.8em;
}

.align h2 {
    font-size: 4rem;
}

.align p {
    text-align: center;

    color: grey;
}

.align span {
    display: block;
}

/* section */
.section-img {
    margin-bottom: 8em;
}

.heading {
    margin-bottom: 0.5em;
}

.bg-frame {
    background-color: var(--very-pale-blue);

    position: relative;
    z-index: 0;
}

/* footer */
footer {
    background-color: var(--very-dark-cyan);

    position: relative;

    padding: 4em 0 2em 0;
    color: var(--white-color);
}

.mini-container {
    display: flex;
    flex-direction: column;
}

.footer-right-side {
    order: -1;

    margin-bottom: 8em;
}

.telephone,
.email {
    display: flex;
    align-items: center;

    margin: 1em 0;
}

.telephone img,
.email img {
    margin-right: 0.75em;
}

ul {
    list-style: none;

    display: flex;

    align-items: baseline;

    margin-bottom: 2em;
}

ul li {
    margin-right: 1em;
    font-size: 1.5em;
}

.footer-title {
    margin: 0;
    text-transform: uppercase;
}

.footer-text {
    font-size: calc(0.7rem + 1vw);

    margin: 1.5em 0;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    display: block;
    width: 100%;

    padding: 1em 0.5em;

    border-radius: 0.2em;

    outline: none;
    border: none;

    margin-bottom: 1em;
}

button[type="submit"] {
    display: block;
    align-self: flex-end;

    padding: 0.8em 2em;

    background-color: var(--pink);
    border-radius: 0.3em;
    color: var(--white-color);
}

@media (min-width: 376px) {
    .desktop-svg-top,
    .desktop-svg-bottom,
    .desktop-svg-footer {
        display: block;
    }

    .mobile-svg-top,
    .mobile-svg-bottom,
    .mobile-svg-footer {
        display: none;
    }
}

@media (min-width: 650px) {
    .title-description {
        font-size: calc(0.6rem + 1vw);

        /* font-size: calc(0.75rem + 1vw); */

        width: 70%;
        max-width: 700px;
        /* max-width: 670px; */
        /* margin: 2em auto 0; */

        /* margin-bottom: 4em; */

        /* font-weight: 500; */
    }

    .small-container {
        display: flex;
        align-items: center;

        border: 2px solid green;

        padding: 10em 0;
    }

    .align {
        width: 70%;
        max-width: 1200px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        border: 2px solid red;
    }
}

@media (min-width: 800px) {
    .flex {
        display: flex;
    }
}
